// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$arrow-down-ico-name: 'arrow-down-ico';
$arrow-down-ico-x: 754px;
$arrow-down-ico-y: 348px;
$arrow-down-ico-offset-x: -754px;
$arrow-down-ico-offset-y: -348px;
$arrow-down-ico-width: 21px;
$arrow-down-ico-height: 12px;
$arrow-down-ico-total-width: 786px;
$arrow-down-ico-total-height: 576px;
$arrow-down-ico-image: '../img/sprite.png';
$arrow-down-ico: (754px, 348px, -754px, -348px, 21px, 12px, 786px, 576px, '../img/sprite.png', 'arrow-down-ico', );
$arrow-up-ico-name: 'arrow-up-ico';
$arrow-up-ico-x: 733px;
$arrow-up-ico-y: 348px;
$arrow-up-ico-offset-x: -733px;
$arrow-up-ico-offset-y: -348px;
$arrow-up-ico-width: 21px;
$arrow-up-ico-height: 12px;
$arrow-up-ico-total-width: 786px;
$arrow-up-ico-total-height: 576px;
$arrow-up-ico-image: '../img/sprite.png';
$arrow-up-ico: (733px, 348px, -733px, -348px, 21px, 12px, 786px, 576px, '../img/sprite.png', 'arrow-up-ico', );
$baterry-name: 'baterry';
$baterry-x: 406px;
$baterry-y: 327px;
$baterry-offset-x: -406px;
$baterry-offset-y: -327px;
$baterry-width: 110px;
$baterry-height: 60px;
$baterry-total-width: 786px;
$baterry-total-height: 576px;
$baterry-image: '../img/sprite.png';
$baterry: (406px, 327px, -406px, -327px, 110px, 60px, 786px, 576px, '../img/sprite.png', 'baterry', );
$checkmark-name: 'checkmark';
$checkmark-x: 680px;
$checkmark-y: 365px;
$checkmark-offset-x: -680px;
$checkmark-offset-y: -365px;
$checkmark-width: 13px;
$checkmark-height: 11px;
$checkmark-total-width: 786px;
$checkmark-total-height: 576px;
$checkmark-image: '../img/sprite.png';
$checkmark: (680px, 365px, -680px, -365px, 13px, 11px, 786px, 576px, '../img/sprite.png', 'checkmark', );
$drop-name: 'drop';
$drop-x: 598px;
$drop-y: 409px;
$drop-offset-x: -598px;
$drop-offset-y: -409px;
$drop-width: 85px;
$drop-height: 70px;
$drop-total-width: 786px;
$drop-total-height: 576px;
$drop-image: '../img/sprite.png';
$drop: (598px, 409px, -598px, -409px, 85px, 70px, 786px, 576px, '../img/sprite.png', 'drop', );
$facebook-white-name: 'facebook-white';
$facebook-white-x: 773px;
$facebook-white-y: 431px;
$facebook-white-offset-x: -773px;
$facebook-white-offset-y: -431px;
$facebook-white-width: 10px;
$facebook-white-height: 21px;
$facebook-white-total-width: 786px;
$facebook-white-total-height: 576px;
$facebook-white-image: '../img/sprite.png';
$facebook-white: (773px, 431px, -773px, -431px, 10px, 21px, 786px, 576px, '../img/sprite.png', 'facebook-white', );
$facebook-name: 'facebook';
$facebook-x: 776px;
$facebook-y: 409px;
$facebook-offset-x: -776px;
$facebook-offset-y: -409px;
$facebook-width: 10px;
$facebook-height: 21px;
$facebook-total-width: 786px;
$facebook-total-height: 576px;
$facebook-image: '../img/sprite.png';
$facebook: (776px, 409px, -776px, -409px, 10px, 21px, 786px, 576px, '../img/sprite.png', 'facebook', );
$flickr-white-name: 'flickr-white';
$flickr-white-x: 348px;
$flickr-white-y: 522px;
$flickr-white-offset-x: -348px;
$flickr-white-offset-y: -522px;
$flickr-white-width: 21px;
$flickr-white-height: 21px;
$flickr-white-total-width: 786px;
$flickr-white-total-height: 576px;
$flickr-white-image: '../img/sprite.png';
$flickr-white: (348px, 522px, -348px, -522px, 21px, 21px, 786px, 576px, '../img/sprite.png', 'flickr-white', );
$flickr-name: 'flickr';
$flickr-x: 327px;
$flickr-y: 522px;
$flickr-offset-x: -327px;
$flickr-offset-y: -522px;
$flickr-width: 21px;
$flickr-height: 21px;
$flickr-total-width: 786px;
$flickr-total-height: 576px;
$flickr-image: '../img/sprite.png';
$flickr: (327px, 522px, -327px, -522px, 21px, 21px, 786px, 576px, '../img/sprite.png', 'flickr', );
$google-plus-white-name: 'google-plus-white';
$google-plus-white-x: 406px;
$google-plus-white-y: 387px;
$google-plus-white-offset-x: -406px;
$google-plus-white-offset-y: -387px;
$google-plus-white-width: 31px;
$google-plus-white-height: 21px;
$google-plus-white-total-width: 786px;
$google-plus-white-total-height: 576px;
$google-plus-white-image: '../img/sprite.png';
$google-plus-white: (406px, 387px, -406px, -387px, 31px, 21px, 786px, 576px, '../img/sprite.png', 'google-plus-white', );
$google-plus-name: 'google-plus';
$google-plus-x: 733px;
$google-plus-y: 327px;
$google-plus-offset-x: -733px;
$google-plus-offset-y: -327px;
$google-plus-width: 31px;
$google-plus-height: 21px;
$google-plus-total-width: 786px;
$google-plus-total-height: 576px;
$google-plus-image: '../img/sprite.png';
$google-plus: (733px, 327px, -733px, -327px, 31px, 21px, 786px, 576px, '../img/sprite.png', 'google-plus', );
$heart-ico-name: 'heart-ico';
$heart-ico-x: 620px;
$heart-ico-y: 327px;
$heart-ico-offset-x: -620px;
$heart-ico-offset-y: -327px;
$heart-ico-width: 60px;
$heart-ico-height: 54px;
$heart-ico-total-width: 786px;
$heart-ico-total-height: 576px;
$heart-ico-image: '../img/sprite.png';
$heart-ico: (620px, 327px, -620px, -327px, 60px, 54px, 786px, 576px, '../img/sprite.png', 'heart-ico', );
$instagram-white-name: 'instagram-white';
$instagram-white-x: 306px;
$instagram-white-y: 522px;
$instagram-white-offset-x: -306px;
$instagram-white-offset-y: -522px;
$instagram-white-width: 21px;
$instagram-white-height: 21px;
$instagram-white-total-width: 786px;
$instagram-white-total-height: 576px;
$instagram-white-image: '../img/sprite.png';
$instagram-white: (306px, 522px, -306px, -522px, 21px, 21px, 786px, 576px, '../img/sprite.png', 'instagram-white', );
$instagram-name: 'instagram';
$instagram-x: 764px;
$instagram-y: 327px;
$instagram-offset-x: -764px;
$instagram-offset-y: -327px;
$instagram-width: 21px;
$instagram-height: 21px;
$instagram-total-width: 786px;
$instagram-total-height: 576px;
$instagram-image: '../img/sprite.png';
$instagram: (764px, 327px, -764px, -327px, 21px, 21px, 786px, 576px, '../img/sprite.png', 'instagram', );
$location-ico-name: 'location-ico';
$location-ico-x: 262px;
$location-ico-y: 493px;
$location-ico-offset-x: -262px;
$location-ico-offset-y: -493px;
$location-ico-width: 44px;
$location-ico-height: 61px;
$location-ico-total-width: 786px;
$location-ico-total-height: 576px;
$location-ico-image: '../img/sprite.png';
$location-ico: (262px, 493px, -262px, -493px, 44px, 61px, 786px, 576px, '../img/sprite.png', 'location-ico', );
$logo-footer-name: 'logo-footer';
$logo-footer-x: 262px;
$logo-footer-y: 327px;
$logo-footer-offset-x: -262px;
$logo-footer-offset-y: -327px;
$logo-footer-width: 144px;
$logo-footer-height: 82px;
$logo-footer-total-width: 786px;
$logo-footer-total-height: 576px;
$logo-footer-image: '../img/sprite.png';
$logo-footer: (262px, 327px, -262px, -327px, 144px, 82px, 786px, 576px, '../img/sprite.png', 'logo-footer', );
$logo-name: 'logo';
$logo-x: 516px;
$logo-y: 327px;
$logo-offset-x: -516px;
$logo-offset-y: -327px;
$logo-width: 104px;
$logo-height: 59px;
$logo-total-width: 786px;
$logo-total-height: 576px;
$logo-image: '../img/sprite.png';
$logo: (516px, 327px, -516px, -327px, 104px, 59px, 786px, 576px, '../img/sprite.png', 'logo', );
$mail-closed-name: 'mail-closed';
$mail-closed-x: 437px;
$mail-closed-y: 387px;
$mail-closed-offset-x: -437px;
$mail-closed-offset-y: -387px;
$mail-closed-width: 30px;
$mail-closed-height: 19px;
$mail-closed-total-width: 786px;
$mail-closed-total-height: 576px;
$mail-closed-image: '../img/sprite.png';
$mail-closed: (437px, 387px, -437px, -387px, 30px, 19px, 786px, 576px, '../img/sprite.png', 'mail-closed', );
$message-name: 'message';
$message-x: 751px;
$message-y: 431px;
$message-offset-x: -751px;
$message-offset-y: -431px;
$message-width: 22px;
$message-height: 22px;
$message-total-width: 786px;
$message-total-height: 576px;
$message-image: '../img/sprite.png';
$message: (751px, 431px, -751px, -431px, 22px, 22px, 786px, 576px, '../img/sprite.png', 'message', );
$not-name: 'not';
$not-x: 775px;
$not-y: 348px;
$not-offset-x: -775px;
$not-offset-y: -348px;
$not-width: 11px;
$not-height: 11px;
$not-total-width: 786px;
$not-total-height: 576px;
$not-image: '../img/sprite.png';
$not: (775px, 348px, -775px, -348px, 11px, 11px, 786px, 576px, '../img/sprite.png', 'not', );
$phone-name: 'phone';
$phone-x: 262px;
$phone-y: 554px;
$phone-offset-x: -262px;
$phone-offset-y: -554px;
$phone-width: 14px;
$phone-height: 22px;
$phone-total-width: 786px;
$phone-total-height: 576px;
$phone-image: '../img/sprite.png';
$phone: (262px, 554px, -262px, -554px, 14px, 22px, 786px, 576px, '../img/sprite.png', 'phone', );
$profile-male-name: 'profile-male';
$profile-male-x: 751px;
$profile-male-y: 409px;
$profile-male-offset-x: -751px;
$profile-male-offset-y: -409px;
$profile-male-width: 25px;
$profile-male-height: 22px;
$profile-male-total-width: 786px;
$profile-male-total-height: 576px;
$profile-male-image: '../img/sprite.png';
$profile-male: (751px, 409px, -751px, -409px, 25px, 22px, 786px, 576px, '../img/sprite.png', 'profile-male', );
$quotes-left-name: 'quotes-left';
$quotes-left-x: 680px;
$quotes-left-y: 327px;
$quotes-left-offset-x: -680px;
$quotes-left-offset-y: -327px;
$quotes-left-width: 53px;
$quotes-left-height: 38px;
$quotes-left-total-width: 786px;
$quotes-left-total-height: 576px;
$quotes-left-image: '../img/sprite.png';
$quotes-left: (680px, 327px, -680px, -327px, 53px, 38px, 786px, 576px, '../img/sprite.png', 'quotes-left', );
$rating-1-name: 'rating-1';
$rating-1-x: 262px;
$rating-1-y: 409px;
$rating-1-offset-x: -262px;
$rating-1-offset-y: -409px;
$rating-1-width: 84px;
$rating-1-height: 84px;
$rating-1-total-width: 786px;
$rating-1-total-height: 576px;
$rating-1-image: '../img/sprite.png';
$rating-1: (262px, 409px, -262px, -409px, 84px, 84px, 786px, 576px, '../img/sprite.png', 'rating-1', );
$rating-2-name: 'rating-2';
$rating-2-x: 346px;
$rating-2-y: 409px;
$rating-2-offset-x: -346px;
$rating-2-offset-y: -409px;
$rating-2-width: 84px;
$rating-2-height: 84px;
$rating-2-total-width: 786px;
$rating-2-total-height: 576px;
$rating-2-image: '../img/sprite.png';
$rating-2: (346px, 409px, -346px, -409px, 84px, 84px, 786px, 576px, '../img/sprite.png', 'rating-2', );
$rating-3-name: 'rating-3';
$rating-3-x: 514px;
$rating-3-y: 409px;
$rating-3-offset-x: -514px;
$rating-3-offset-y: -409px;
$rating-3-width: 84px;
$rating-3-height: 84px;
$rating-3-total-width: 786px;
$rating-3-total-height: 576px;
$rating-3-image: '../img/sprite.png';
$rating-3: (514px, 409px, -514px, -409px, 84px, 84px, 786px, 576px, '../img/sprite.png', 'rating-3', );
$rating-4-name: 'rating-4';
$rating-4-x: 430px;
$rating-4-y: 409px;
$rating-4-offset-x: -430px;
$rating-4-offset-y: -409px;
$rating-4-width: 84px;
$rating-4-height: 84px;
$rating-4-total-width: 786px;
$rating-4-total-height: 576px;
$rating-4-image: '../img/sprite.png';
$rating-4: (430px, 409px, -430px, -409px, 84px, 84px, 786px, 576px, '../img/sprite.png', 'rating-4', );
$service-name: 'service';
$service-x: 683px;
$service-y: 409px;
$service-offset-x: -683px;
$service-offset-y: -409px;
$service-width: 68px;
$service-height: 68px;
$service-total-width: 786px;
$service-total-height: 576px;
$service-image: '../img/sprite.png';
$service: (683px, 409px, -683px, -409px, 68px, 68px, 786px, 576px, '../img/sprite.png', 'service', );
$shoe-ico-name: 'shoe-ico';
$shoe-ico-x: 306px;
$shoe-ico-y: 493px;
$shoe-ico-offset-x: -306px;
$shoe-ico-offset-y: -493px;
$shoe-ico-width: 65px;
$shoe-ico-height: 29px;
$shoe-ico-total-width: 786px;
$shoe-ico-total-height: 576px;
$shoe-ico-image: '../img/sprite.png';
$shoe-ico: (306px, 493px, -306px, -493px, 65px, 29px, 786px, 576px, '../img/sprite.png', 'shoe-ico', );
$subject-name: 'subject';
$subject-x: 467px;
$subject-y: 387px;
$subject-offset-x: -467px;
$subject-offset-y: -387px;
$subject-width: 21px;
$subject-height: 19px;
$subject-total-width: 786px;
$subject-total-height: 576px;
$subject-image: '../img/sprite.png';
$subject: (467px, 387px, -467px, -387px, 21px, 19px, 786px, 576px, '../img/sprite.png', 'subject', );
$twitter-white-name: 'twitter-white';
$twitter-white-x: 371px;
$twitter-white-y: 493px;
$twitter-white-offset-x: -371px;
$twitter-white-offset-y: -493px;
$twitter-white-width: 24px;
$twitter-white-height: 20px;
$twitter-white-total-width: 786px;
$twitter-white-total-height: 576px;
$twitter-white-image: '../img/sprite.png';
$twitter-white: (371px, 493px, -371px, -493px, 24px, 20px, 786px, 576px, '../img/sprite.png', 'twitter-white', );
$twitter-name: 'twitter';
$twitter-x: 751px;
$twitter-y: 453px;
$twitter-offset-x: -751px;
$twitter-offset-y: -453px;
$twitter-width: 24px;
$twitter-height: 20px;
$twitter-total-width: 786px;
$twitter-total-height: 576px;
$twitter-image: '../img/sprite.png';
$twitter: (751px, 453px, -751px, -453px, 24px, 20px, 786px, 576px, '../img/sprite.png', 'twitter', );
$user-1-name: 'user-1';
$user-1-x: 524px;
$user-1-y: 0px;
$user-1-offset-x: -524px;
$user-1-offset-y: 0px;
$user-1-width: 262px;
$user-1-height: 327px;
$user-1-total-width: 786px;
$user-1-total-height: 576px;
$user-1-image: '../img/sprite.png';
$user-1: (524px, 0px, -524px, 0px, 262px, 327px, 786px, 576px, '../img/sprite.png', 'user-1', );
$user-2-name: 'user-2';
$user-2-x: 262px;
$user-2-y: 0px;
$user-2-offset-x: -262px;
$user-2-offset-y: 0px;
$user-2-width: 262px;
$user-2-height: 327px;
$user-2-total-width: 786px;
$user-2-total-height: 576px;
$user-2-image: '../img/sprite.png';
$user-2: (262px, 0px, -262px, 0px, 262px, 327px, 786px, 576px, '../img/sprite.png', 'user-2', );
$user-3-name: 'user-3';
$user-3-x: 0px;
$user-3-y: 327px;
$user-3-offset-x: 0px;
$user-3-offset-y: -327px;
$user-3-width: 262px;
$user-3-height: 249px;
$user-3-total-width: 786px;
$user-3-total-height: 576px;
$user-3-image: '../img/sprite.png';
$user-3: (0px, 327px, 0px, -327px, 262px, 249px, 786px, 576px, '../img/sprite.png', 'user-3', );
$user-4-name: 'user-4';
$user-4-x: 0px;
$user-4-y: 0px;
$user-4-offset-x: 0px;
$user-4-offset-y: 0px;
$user-4-width: 262px;
$user-4-height: 327px;
$user-4-total-width: 786px;
$user-4-total-height: 576px;
$user-4-image: '../img/sprite.png';
$user-4: (0px, 0px, 0px, 0px, 262px, 327px, 786px, 576px, '../img/sprite.png', 'user-4', );
$spritesheet-width: 786px;
$spritesheet-height: 576px;
$spritesheet-image: '../img/sprite.png';
$spritesheet-sprites: ($arrow-down-ico, $arrow-up-ico, $baterry, $checkmark, $drop, $facebook-white, $facebook, $flickr-white, $flickr, $google-plus-white, $google-plus, $heart-ico, $instagram-white, $instagram, $location-ico, $logo-footer, $logo, $mail-closed, $message, $not, $phone, $profile-male, $quotes-left, $rating-1, $rating-2, $rating-3, $rating-4, $service, $shoe-ico, $subject, $twitter-white, $twitter, $user-1, $user-2, $user-3, $user-4, );
$spritesheet: (786px, 576px, '../img/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
