//Color

$base-color: rgb(255, 255, 255);

$stack-color: rgb(1, 174, 255);


//Font-size



//Font-Family


$Raleway: 'Raleway', sans-serif;

$OpenSans: 'Open Sans', sans-serif;

$Questrial: 'Questrial', sans-serif;