<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-3 col-xs-12">
                <a href="#" class="logo"><span class="icon__logo"></span></a>
            </div>
            <div class="col-sm-6 col-xs-12">
                <div class="social">
                    <a href="#"><span class="flickr"></span></a>
                    <a href="#"><span class="facebook"></span></a>
                    <a href="#"><span class="inst"></span></a>
                    <a href="#"><span class="twitter"></span></a>
                    <a href="#"><span class="google"></span></a>
                </div>
            </div>
            <div class="col-sm-3 col-xs-12">
                <div class="info__contact">
                    <ul>
                        <li>Email@gmail.com</li>
                        <li>+1 123 456-7890</li>
                        <li>184 rue Saint-Martin, 75083</li>
                        <li>Paris, France</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<div id="order-popup">
    <div class="close-btn"><span class="close-icon"></span></div>
    <div class="left__side">
        <figure>
            <img src="../img/watch-popup.png" alt="pic" class="watch">
            <img src="../img/shadow-popup.png" alt="pic" class="shadow">
            <figcaption>
                <div class="radio__buttons">
                    <a href="#" class="radio-btn radio-1"></a>
                    <a href="#" class="radio-btn radio-2"></a>
                    <a href="#" class="radio-btn radio-3"></a>
                </div>
            </figcaption>
        </figure>
    </div>
    <div class="right__side">
        <div class="title">Moderno M70</div>
        <div class="descript">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto consequatur, culpa distinctio eveniet ipsam maxime.</div>
        <form class="form">
            <div class="input__wrap">
                <input class="input__name" type="text" name="name" placeholder="Name">
            </div>
            <div class="input__wrap">
                <input class="input__email" type="email" name="email" placeholder="Your E-mail">
            </div>
            <div class="input__wrap">
                <input class="input__phone" type="tel" name="phone" placeholder="Your Number">
            </div>
            <button class="btn-buy">buy now</button>
        </form>
    </div>
</div>
<div id="overlay"></div>