<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-3 col-xs-12">
                <a href="#" class="logo"><span class="icon__logo"></span></a>
            </div>
            <div class="col-sm-6 col-xs-12">
                <div class="social">
                    <a href="#"><span class="flickr"></span></a>
                    <a href="#"><span class="facebook"></span></a>
                    <a href="#"><span class="inst"></span></a>
                    <a href="#"><span class="twitter"></span></a>
                    <a href="#"><span class="google"></span></a>
                </div>
            </div>
            <div class="col-sm-3 col-xs-12">
                <div class="info__contact">
                    <ul>
                        <li>Email@gmail.com</li>
                        <li>+1 123 456-7890</li>
                        <li>184 rue Saint-Martin, 75083</li>
                        <li>Paris, France</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>